*.d
*.o
*.uvguix*
*.uvoptx*
*.elf
*.lnp
*.dep
*.htm
*bak
*orig
*.lst
*~
*__pycache__*
*.cache*
**/build/*
**/difflog*
**/diffsummary*
documentation/docs/html
output/

# Ignore output from CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
_deps/
compile_commands.json
cpm-package-lock.cmake
